@media screen and (min-width:320px) and (max-width: 520px) {
    main{
        display: block;
        margin: auto;
    }
    main>aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside > div.exp, div.sites, div.techs, div.profile, div.edu{
        width: 90vw;
    }

    section{
        margin-top: 50px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.projects-header{
        width:80vw;
    }
    a.project-one{
        width: 450px;
        margin-right: 0;
    }

    div.posts-header{
        width: 80vw;
    }

    a.commit-one{
        width: 90vw;
    }

    div.commitsfooter{
        width: 90vw;
    }
}

@media screen and (min-width: 521px) and (max-width: 768px) {
    main{
        display: block;
        margin: auto;
    }
    main>aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside > div.exp, div.sites, div.techs, div.profile, div.edu{
        width: 90vw;
    }
    div.techs{
        padding-top: 4%;
    }
    p.techsparap{
        width: 23vw;
    }

    section{
        margin-top: 50px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.projects-header{
        width:80vw;
    }
    a.project-one{
        width: 450px;
        margin-right: 0;
    }

    div.posts-header{
        width: 80vw;
    }

    a.commit-one{
        width: 90vw;
    }

    div.commitsfooter{
        width: 90vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    main{
        display: block;
        margin: auto;
    }
    main>aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside > div.exp, div.sites, div.techs, div.profile, div.edu{
        width: 90vw;
    }
    div.techs, div.exp, div.edu{
        padding-top: 3%;
    }
    p.techsparap{
        width: 23vw;
    }

    section{
        margin-top: 50px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    div.projects-header{
        width:80vw;
    }
    a.project-one{
        width: 70vw;
        margin-right: 0;
    }

    div.posts-header{
        width: 80vw;
    }

    a.commit-one{
        width: 90vw;
    }

    div.commitsfooter{
        width: 90vw;
    }
}

/*
    Tablet: 520px - 768px

    Laptops 769px - 1024px

    large screeens 1025px - 1200px
*/

