.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container input.txt{
    width: 50%;
    background-color: #e5e5e5;
    padding: 20px;
    border-radius: 10px;
    border: none;

    margin: 10px;
    font-size: 18px;
}

.container input.btt{
    width: 40%;

    background-color: #754600;
    font-weight: bold;
    border-radius: 5px;

    margin: 10px;
    margin-bottom: 50px;
    padding: 20px;

    color: #fbfbfb;
    border: none;

    transition: 200ms ease-in-out;
    cursor: pointer;
}

.container input.btt:hover{
    background-color: #432800;
}