header{
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    color: #754600;
    transition: text-shadow 200ms;
}


header > div {
    display: flex;
    align-items: center;
}

header > div > img{
    margin-left: 10px;
    width: 60px;
    border-radius: 30px;
}

h1:hover{
    text-shadow: 4px 4px 25px black;
}