<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header'); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre Mim</h1>
            <p>Oi, sou Guilherme Freitas, estudante de Ciência da Computação</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>

<html>