:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

*{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    transition: 100ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

div{
    width: 100px;
    height: 100px;
    display: flex;
    margin: 0 auto;
    background-color: var(--label);
    width: 250px;
    border-radius: 100px;
    padding: 10px;
    justify-content: center;
}

img{
    transition: 200ms ease-in-out;
}

.bigger{
    width: 100px;
}

.lower{
    width: 40px;
}

.dark{
    background-color: var(--dark);
}

.light{
    background-color: var(--light);
}