*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    position: relative;
    width: 100%;
    height: 500px;
    border-bottom: 20px solid #025d01;

    margin: 0 auto;
    overflow: hidden;

    background: linear-gradient(#5bb8fe, #c6dff4);
}

.pontuation{
    
}

.pipe{
    width: 80px;
    position: absolute;
    bottom: 0;
    animation: pipeanimation 2s infinite linear;
}

.mario{
    position: absolute;
    width: 150px;
    bottom: 0px;

}

.clouds{
    position: absolute;
    width: 550px;
    animation: cloudsanimation 20s linear infinite;
}

.jump{
    animation: mariojump 500ms ease-out;
}

@keyframes pipeanimation {
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

@keyframes mariojump {
    0% {
        bottom: 0px;
    }

    40%{
        bottom: 200px;
    }

    50% {
        bottom: 200px;
    }

    60%{
        bottom: 200px;
    }

    100%{
        bottom: 0px;
    }
}

@keyframes cloudsanimation {
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }
}