*{
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;

    --font-main: 'Merriweather Sans', sans-serif;
}

article.project{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    margin-top: 15vh;
    width: 90%;
    height: 70vh;

    color: var(--text-color);
    font-family: var(--font-main);

    background-color: #302F3D;

    padding: 20px;

    border-radius: 10px;

    transition: 300ms ease-in-out;


}


article.project>h1{
    font-size: 3.5em;
}


.imgproject{
    filter: brightness(70%);
    box-sizing: content-box;
    width: 1000px;
    height: 250px;

    border-radius: 10px;

    transition: 350ms ease;
}

.imgproject:hover{
    filter: brightness(87%);
    cursor: pointer;
    transition: 350ms ease;
    
    height: 253px;
    width: 1003px;
}