
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;

    --font-main: 'Merriweather Sans', sans-serif;
}

body{
    background-color: var(--body-bg-color);
}

nav{

    display: flex;
    background-color: #302F3D;
    padding: 10px;
    font-family: var(--font-main);
    justify-content: space-around;
    flex-direction: row;
    width: auto;
    border-bottom: 1px solid #ffffff29;
}
nav > a{
    color: #837e9f80;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

nav > a:hover{
    color: var(--text-color);
    background-color: var(--body-bg-color);
    transition: 100ms ease-in-out;
}

main{
    display: flex;
    flex-direction: row;
    padding: 35px;
}

img.profilepic{
    width: 170px;
    margin-bottom: 15px;
    border-radius: 50%;

    border: #02ca02 solid 2.5px;
}

div.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-main);

    padding: 32px 0px 32px 0px;
    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);
    width: 400px;
}

p.nameprof{
    font-weight: bolder;
    font-size: 1.2em;
    margin-bottom: 5px;
}

p.subtext{
    font-weight: lighter;
    font-size: small;
}

div.techs{
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    margin-top: 10%;
    padding: 7% 0 0 0;

    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);
    width: 400px;
}

div.divtechparap{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

div.divtechparap > div{
    display: flex;
    flex-direction: row;
}

p.techsparap{
    display: flex;
    justify-content: center;
    width: 90px;
    padding: 10px;
    background-color: var(--bg-techs);
    margin: 10px;
    color: var(--body-bg-color);
    font-weight: bolder;
    font-size: 0.8rem;
    border-radius: 25px;
    text-transform: uppercase;
}

div.titlefromdiv{
    display: flex;
    flex-direction: row;

}

div.titlefromdiv > img{
    width: 30px;
    margin-left: 10px;
}

h1{
    margin-left: 15px;
}

div.exp, div.edu{
    display: flex;
    flex-direction: column;
    font-family: var(--font-main);
    margin-top: 10%;
    padding: 5% 0 5% 0;

    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);
    width: 400px;
}

div.experience, div.education{
    padding-left: 5%;
    padding-top: 8%;
}

p.period{
    padding: 5px 10px;
    font-size: 0.9rem;
}

p.institute{
    padding: 5px 10px;
}

p.atvs{
    text-align: justify;
    font-size: 0.9rem;
    width: 85%;
    padding-left: 1vw;
    line-height: 1.5rem;
}

.exptitle, .edutitle{
    font-size: 1.2rem;
}


section{
    margin-left: 5%;
}


div.projects-header{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: row;
    font-family: var(--font-main);
    padding: 3.9%;

    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);

}

p.text-projects{
    font-weight: bolder;
    font-size: 1.2em;
    color: var(--text-color);
}

div.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5%;
    justify-content: space-between;
}

a.project-one{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-main);
    padding:40px;
    margin-right: 10px;
    margin-top: 20px;

    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);
    width: 31vw;

    transition: 100ms ease-in-out;
    
    text-decoration: none;
}


a.project-one:hover{
    background-color: var(--text-color);
    color: var(--bg-cards);
    cursor: pointer;
}



div.posts-header{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-main);
    padding: 3.9%;
    margin-top: 4.5%;

    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);

}

p.text-posts{
    font-weight: bolder;
    font-size: 1.2em;
    color: var(--text-color);
}


div.sites{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--font-main);
    margin-top: 10%;
    padding: 20px;

    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);
    width: 400px;
}

a.info{
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: 75ms ease-out;
}

a.info:hover{
    font-size: 1.1rem;
}

.icon-info{
    fill: var(--text-color);
    margin-right: 1vw;
}


.shadow-box{
    box-shadow: 1px 1px 3px 1px #121212b1
}



div.commits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.5%;
    justify-content: center;
}

a.commit-one{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-main);
    padding:40px;
    margin-top: 20px;

    color: var(--text-color);
    border-radius: 10px;
    background-color: var(--bg-cards);
    width: 60vw;

    transition: 100ms ease-in-out;
    
    text-decoration: none;
}


a.commit-one:hover{
    background-color: var(--text-color);
    color: var(--bg-cards);
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    font-family: var(--font-main);
    color: var(--text-color);
}

li{
    display: flex;
    flex-direction: column;
}

a.seecommits{
    color: var(--text-color);
    text-decoration: none;
    transition: 100ms ease-out;
}

a.seecommits:hover{
    text-decoration: underline;
    font-size: 1.2rem;
}